body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', "Arial", sans-serif;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.container {
	margin: auto;
	padding: 0 10px;
	width: 940px;
	background-color: #888;
}

.btn {
	display: block;
	box-sizing: border-box;
	padding: 11px 15px;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #ee3643;
	border-radius: 5px;
}

.main-header {
	background-color: #f1f5f7;
}

.top-header-wrap {
	background-color: #293449;
}

.top-header {
	position: relative;
	display: flex;
	display: -ms-flexbox;
	-ms-flex-align: baseline;
	align-items: baseline;
	margin-top: 0;
	margin-bottom: 45px;
	min-height: 42px;
	color: #fff;
	background-color: #293449;
}

.top-header .logo {
	position: absolute;
	top: 0;
	width: 220px;
	height: 47px;
}

.top-header form {
	margin-left: 220px;
	flex-grow: 1;
	-ms-flex-positive: 1;
}

.top-header input[type="submit"] {
	display: none;
}

.top-header input[type="search"] {
	padding-left: 45px;
	box-sizing: border-box;
	width: 100%;
	height: 41px;
	border: none;
	background-color: #293449;
	background-image: url(../img/spritesheet.png);
  background-position: -5px -1706px;
	background-repeat: no-repeat;
}

.top-header input[type="search"]:hover {
	background-color: #212a3a;
	background-position: -5px -1820px;
}

.top-header ::-webkit-input-placeholder{ 
	color: #fff;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
}
.top-header ::-moz-placeholder{
	color: #fff;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
} 
.top-header :-moz-placeholder{
	color: #fff;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
}
.top-header :-ms-input-placeholder {
	color: #fff;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
}

.top-header input[type="search"]:focus {
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
	color: #000;
	background-color: #fff;
	background-image: url(../img/spritesheet.png);
  background-position: -5px -1763px;
	background-repeat: no-repeat;
}

.top-header .manager-order {
	display: flex;
	display: -ms-flexbox;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	padding: 0;
	list-style: none;
}

.manager-order li {
	min-width: 80px;
	padding: 12px 20px;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
	cursor: pointer;
}

.manager-order a {
	color: #fff;
	text-decoration: none;
}

.manager-order .bookmark {
	padding-left: 50px;
	background-image: url(../img/spritesheet.png);
  background-position: 0px -700px;
	background-repeat: no-repeat;
}

.manager-order .bookmark:hover {
	background-color: #212a3a;
	background-position: 0px -812px;
}

.manager-order .bookmark:active {
	opacity: 0.6;
	background-color: #161d29;
	background-position: 0px -756px;
}

.manager-order .cart {
	padding-left: 50px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: 0px -532px;
}

.manager-order .cart:hover {
	background-color: #212a3a;
	background-position: 0px -644px;
}

.manager-order .cart:active {
	opacity: 0.6;
	background-color: #161d29;
	background-position: 0px -588px;
} 

.manager-order .to-order {
	background-color: #63a63e;
}

.manager-order .to-order:hover {
	background-color: #5fbb2d;
}

.manager-order .to-order:active {
	opacity: 0.5;
}

.middle-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 0;
}

.middle-header p {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding-left: 50px;
	width: 300px;
	
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.middle-header .contacts {
	width: 300px;
	margin: auto;
}

.contacts .phone {
	box-sizing: border-box;
	display: block;
	padding: 10px 40px;
	text-align: center;
	color: #ee3643;
	font-size: 21px;
	border: 3px solid #fff;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -7px -1452px;
}

.contacts .address {
	display: block;
	padding-top: 5px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.user-block a {
	display: inline-block;
	margin-left: 12px;
	padding: 13px 25px;
	vertical-align: top;
	color: #000;
	text-decoration: none;
	font-size: 21px;
	background-color: #fff;
}

.user-block .sign-in {
	padding-left: 47px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -6px -1219px;
}

.main-navigation ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin-top: 30px;
	margin-bottom: 60px;
	padding: 0;
	width: 940px;
	list-style: none;
}

.main-navigation li:first-child
{
	flex-grow: 1;
	-ms-flex-positive: 1;
	text-align: right;
}
.main-navigation li:last-child {
	flex-grow: 1;
	-ms-flex-positive: 1;
	text-align: left;
}

.main-navigation a {
	display: block;
	padding: 20px 26px;
	font-family: inherit;
	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
	color: #fff;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.popular .popular-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px;
	padding: 25px 30px;
	padding-right: 25px;
	
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.popular-header .btn {
	margin-left: auto;
	width: 253px;
}

.popular .catalog-popular {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.popular .product-item {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;
	width: 218px;
	font-weight: bold;
	text-align: center;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.popular .product-item:nth-child(4n) {
	margin-right: 0;
}

.product-item .flag-new {
	position: absolute;
	top: -1px;
	right: -1px;
	
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
}

.product-item .actions {
	display: none;
}

.product-item .btn-buy,
.product-item .btn-bookmark {
	display: block;
/*	box-sizing: border-box;*/
	margin: 8px auto;
	width: 138px;
	height: 38px;
	background-color: #63a63e;
/*	border: 3px solid #fff;*/
}

.product-item .btn-buy {
	padding-left: 40px;
	padding-right: 40px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -10px -533px;
/*	border-bottom-color: #367315;*/
	box-shadow: inset 0 -3px #367315;
}

.product-item .btn-buy:hover {
	background-color: #5fbb2d;
	background-position: -10px -645px;
/*	border: 3px solid #5fbb2d;*/
}

.product-item .btn-buy:active {
	background-color: #518534;
	background-position: -10px -589px;
	box-shadow: none;
}

.product-item .btn-bookmark {
	color: #32425c;
	background-color: #fff;
	border: 3px solid #63a63e;
}

.product-item img {
	margin-bottom: 20px;
	width: 218px;
	height: 160px;
}

.product-item h2 {
	padding-left: 25px;
	padding-right: 25px;
	font-size: 18px;
	line-height: 20px;
}

.product-item .old-price,
.product-item .price {
	display: block;
	height: 20px;
	font-size: 17px;
	line-height: 20px;
	text-transform: uppercase;
}

.product-item .old-price {
	color: #999;
	text-decoration: line-through;
}

.product-item .price {
	position: relative;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 35px;
	width: 80px;  
	color: #fff;
	background-color: #ee3643;
}

.product-item .price::after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 20px solid #fff;
	border-left-color: transparent;
}

.product-item:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-item:hover .actions {
	display: block;
	position: absolute;
	width: 100%;
	height: 160px;
	padding-top: 43px;
	background-color: #fff;
	z-index: 5;
}


.popular .brand-item {
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 218px;
	height: 143px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.popular .brand-item:nth-child(4n) {
	margin-right: 0;
}

.brand-item a {
	display: block;
	width: 100%;
	height: 100%;
}

.brand-item img {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
}





























